In [1]:
import numpy as np
import pandas as pd
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [2]:
Y=pd.read_csv('Y.csv').iloc[:,1:]
X=pd.read_csv('X.csv').iloc[:,1:]

print(X.shape)
print(Y.shape)

(890, 77)
(890, 1)

In [3]:
Y.head()

          y
0  0.033038
1  0.041447
2  0.036504
3  0.036264
4  0.041198

In [4]:
X.head()

,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",Population using at least basic drinking-water services (%),Population using at least basic sanitation services (%),Gross capital formation (% of GGP),"Population, total (millions)","Population, urban (%)","Mortality rate, under-five (per 1,000 live births)","Mortality rate, infant (per 1,000 live births)",Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64)),"Population, ages 15–64 (millions)","Population, ages 65 and older (millions)","Life expectancy at birth, male (galactic years)","Life expectancy at birth, female (galactic years)","Population, under age 5 (millions)",Young age (0-14) dependency ratio (per 100 creatures ages 15-64),"Adolescent birth rate (births per 1,000 female creatures ages 15-19)",Total unemployment rate (female to male ratio),Vulnerable employment (% of total employment),"Unemployment, total (% of labour force)",Employment in agriculture (% of total employment),Labour force participation rate (% ages 15 and older),"Labour force participation rate (% ages 15 and older), female",Employment in services (% of total employment),"Labour force participation rate (% ages 15 and older), male",Employment to population ratio (% ages 15 and older),Jungle area (% of total land area),"Share of employment in nonagriculture, female (% of total employment in nonagriculture)",Youth unemployment rate (female to male ratio),"Unemployment, youth (% ages 15–24)","Mortality rate, female grown up (per 1,000 people)","Mortality rate, male grown up (per 1,000 people)","Infants lacking immunization, red hot disease (% of one-galactic year-olds)","Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)",Gross galactic product (GGP) per capita,"Gross galactic product (GGP), total","Outer Galaxies direct investment, net inflows (% of GGP)",Exports and imports (% of GGP),Share of seats in senate (% held by female),Natural resource depletion,"Mean years of education, female (galactic years)","Mean years of education, male (galactic years)","Expected years of education, female (galactic years)","Expected years of education, male (galactic years)","Maternal mortality ratio (deaths per 100,000 live births)",Renewable energy consumption (% of total final energy consumption),"Estimated gross galactic income per capita, male","Estimated gross galactic income per capita, female",Rural population with access to electricity (%),Domestic credit provided by financial sector (% of GGP),"Population with at least some secondary education, female (% ages 25 and older)","Population with at least some secondary education, male (% ages 25 and older)",Gross fixed capital formation (% of GGP),"Remittances, inflows (% of GGP)",Population with at least some secondary education (% ages 25 and older),Intergalactic inbound tourists (thousands),"Gross enrolment ratio, primary (% of primary under-age population)","Respiratory disease incidence (per 100,000 people)",Interstellar phone subscriptions (per 100 people),"Interstellar Data Net users, total (% of population)",Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
0,0.456086,51.562543,12236.576447,0.593325,10.414164,10.699072,0.547114,0.556267,232.621842,105.193088,64.241392,17.418350,778.551216,70.570276,145.949004,98.730597,15.231140,332.286185,46.992689,62.529503,64.981647,85.012813,99.265994,163.783127,2.853954,95.625820,11.420349,68.220483,74.848129,72.269487,55.320510,88.993990,79.828876,59.724297,53.524038,2.353783,23.683985,518.294854,554.417680,42.538940,16.079018,21206.852330,8495.154741,13.406117,125.590912,26.965866,10.735637,7.820762,9.178185,13.099794,12.560959,950.752607,103.373661,25849.999923,11705.767836,53.139170,71.813561,42.411714,74.411476,23.031337,12.151781,62.901586,123047.189474,94.467864,488.535975,134.197384,40.472345,10.076567,0.614702,0.628321,0.910410,182.134627,182.774540,17.539684,12.336950,24.643281,0.823708
1,0.529835,57.228262,3431.883825,0.675407,7.239485,5.311122,0.497688,0.409969,247.580771,55.730638,46.217440,33.027886,841.639578,34.615945,204.710603,112.613879,9.640329,626.094604,20.879649,59.011554,61.056764,84.439971,132.533078,210.231066,2.351012,131.764523,5.570530,114.635559,85.075626,77.057044,33.965828,90.275863,81.179201,24.762807,51.946557,1.843055,18.077854,500.215637,507.077983,56.362539,55.464315,20523.570182,7855.941275,15.758060,128.683076,21.029321,23.559299,5.261005,5.562118,10.550356,11.915206,1316.547085,123.172516,18567.948255,14356.475889,49.202341,66.210822,39.050562,45.946765,39.228618,9.779313,40.251199,72682.261648,101.912846,327.698011,87.165134,31.423433,6.137522,0.572237,0.555636,0.848328,205.359136,202.601058,11.217015,5.273589,14.345770,0.838022
2,0.560976,59.379539,27562.914252,0.594624,11.774890,5.937797,0.544744,0.486167,249.798771,58.755900,48.897493,31.613362,651.219545,52.587914,179.910280,109.154097,12.302077,609.153075,45.860598,62.651007,60.536949,108.663464,123.540980,215.876560,2.654552,125.894674,9.044370,107.503611,87.833475,84.762943,32.909051,89.029038,87.634326,40.110231,48.811422,2.048160,15.615861,443.676013,502.365207,55.742613,42.548033,21416.902446,6828.551793,25.028588,114.196791,30.909766,17.148867,4.651912,6.639981,10.906950,12.299221,1124.178125,115.697202,26990.965696,12737.675031,46.471351,66.386775,39.952311,44.026828,33.330730,8.558822,39.759206,92885.077684,109.725528,501.975674,89.668532,33.660479,6.806958,0.532573,0.586371,0.893052,194.702427,208.658602,-1.837894,8.195060,16.517264,0.812711
3,0.565910,59.952390,20352.232905,0.837700,11.613621,10.067882,0.691641,0.523441,211.505060,70.176431,61.254104,34.399007,922.876806,75.603739,169.629961,100.656306,12.052537,387.785059,59.454760,63.085675,66.855940,106.685490,110.276379,189.107391,2.637953,100.668322,11.729945,66.480832,77.722236,74.099272,68.622944,79.642035,75.313044,56.759180,61.136831,2.166888,22.433137,422.868633,467.388688,51.673227,31.821934,19755.097592,5945.438118,11.819144,142.613299,30.359962,22.357571,7.486061,8.783936,11.819022,13.052869,1086.554363,101.123421,28355.108212,18602.092126,49.507379,94.941254,37.382719,59.663063,28.390324,10.276097,52.865408,94183.678291,109.542529,477.690470,109.515554,38.650649,5.622420,0.605204,0.635833,0.894510,191.549168,181.799816,13.890109,7.920259,26.467945,0.826839
4,0.588274,55.428320,23959.704016,0.520579,10.392416,6.374637,0.530676,0.580418,234.721069,69.768692,51.316940,15.657091,1106.554194,64.382217,219.588961,129.974418,14.013421,474.877713,21.305665,59.144562,63.990109,80.409057,111.084652,162.451451,2.421466,126.050516,13.370766,89.542879,83.677526,87.846340,28.815475,88.782958,76.502740,56.338491,45.923296,2.043633,23.401352,546.437704,552.698573,92.815852,76.093251,28890.168075,5995.978901,8.248885,87.376942,19.312941,8.776004,5.628603,7.518383,8.975221,8.919711,1034.065346,96.028122,21309.506970,18103.974021,50.233592,86.296925,29.065459,58.562225,13.313253,13.515092,42.980727,99276.256730,106.314974,458.186555,79.177012,41.585873,7.357729,0.583373,0.600445,0.856158,206.674424,224.104054,13.476634,7.687626,14.279994,0.897079

In [5]:
index = X.index

pfi2 = np.square(-np.log(Y['y']+0.01)+3)

In [6]:
d = pd.DataFrame({
    'index':index,
    'pred': Y['y'],
    'opt_pred':0,
    'pfi^2':pfi2,
    'eei':X['existence expectancy index']
})

In [7]:
d_sort_p=d.sort_values(by=['pfi^2'], ascending=False)

In [8]:
d_sort_p.head()

     index      pred  opt_pred      pfi^2       eei
39      39  0.015600         0  44.424306  0.659167
44      44  0.015717         0  44.363772  0.661723
202    202  0.015906         0  44.266125  0.817197
117    117  0.016419         0  44.005411  0.763177
138    138  0.016430         0  44.000323  0.775467

In [9]:
d_sort_p.iloc[0:500].opt_pred = 100

C:\Users\Yassawe\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [10]:
d_sort_i=d_sort_p.sort_values(by=['index'], ascending=True)

In [11]:
d_sort_i.head()

   index      pred  opt_pred      pfi^2       eei
0      0  0.033038       100  37.769319  0.456086
1      1  0.041447         0  35.607399  0.529835
2      2  0.036504       100  36.823210  0.560976
3      3  0.036264       100  36.886033  0.565910
4      4  0.041198       100  35.665407  0.588274

In [14]:
resources_for_poor=d_sort_i.loc[d_sort_i.eei < 0.7, 'opt_pred'].sum()
all_resources=d_sort_i['opt_pred'].sum()

In [16]:
d_sort_i[['index', 'pred', 'opt_pred']].to_csv('SUBMISSION.csv', index=False)