In [78]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
#pd.set_option("display.max_rows", None, "display.max_columns", None)

In [79]:
train=pd.read_csv("original datasets/train.csv")
test=pd.read_csv("original datasets/test.csv")
train["type"]="train"
test["type"]="test"

In [80]:
d=pd.concat([train,test])

In [81]:
galaxies=d.galaxy.unique().tolist()

In [82]:
frames=[]
for galaxy in galaxies:
    df = d.loc[d.galaxy==galaxy, :]
    df=df.sort_values('galactic year')
    index=df.index
    df.set_index(df['galactic year'], inplace=True)
    for i in range(2, 79):
        nna =df.iloc[:,[i]].notnull().sum()
        nna = nna.tolist()
        if (nna[0]>1):
            df.iloc[:,[i]] = df.iloc[:,[i]].interpolate(method='linear')
    df.set_index(index, inplace=True)
    frames.append(df)
d_inter=pd.concat(frames)

In [83]:
dr=d_inter.iloc[:, 2:79]

In [84]:
normalized_dr=(dr-dr.min())/(dr.max()-dr.min())

In [85]:
imputer = KNNImputer(n_neighbors=3, weights='distance')
filled=pd.DataFrame(imputer.fit_transform(normalized_dr), index = normalized_dr.index, columns = normalized_dr.columns)

In [86]:
denormalized_dr = (filled*(dr.max()-dr.min()))+dr.min()

In [87]:
d_inter.iloc[:,2:79]=denormalized_dr

In [88]:
train_p=d_inter.loc[d_inter.type=="train", :].iloc[:, 0:80]
train_p=train_p.sort_index()

In [89]:
test_p=d_inter.loc[d_inter.type=="test",:].iloc[:, 0:79]
test_p=test_p.sort_index()

In [90]:
train_p.to_csv("datasets/combined_interpol_knn3/train.csv", index=False)
test_p.to_csv("datasets/combined_interpol_knn3/test.csv", index=False)

In [74]:
train_p=train_p.sort_values("galactic year")

In [75]:
X_train=train_p.iloc[0:2705,0:80]
Y_train=train_p.iloc[0:2705, 79]
X_test=train_p.iloc[2705:, 0:80]
Y_test=train_p.iloc[2705:, 79]

In [76]:
X_train.to_csv("datasets/combined_interpol_knn3/x_train.csv", index=False)
Y_train.to_csv("datasets/combined_interpol_knn3/y_train.csv", index=False)
X_test.to_csv("datasets/combined_interpol_knn3/x_test.csv", index=False)
Y_test.to_csv("datasets/combined_interpol_knn3/y_test.csv", index=False)

In [77]:
s=train.loc[train.galaxy=='Tucana Dwarf',:]
s=s.drop('type', axis=1)

In [32]:
s.head(-1)

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y,type
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,NaN,NaN,NaN,NaN,NaN,5.611753,NaN,NaN,0.154247,train
188,991020,Tucana Dwarf,1.047298,84.764154,89090.567430,1.192736,13.358028,13.053707,0.996431,0.840777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.155323,train
411,992016,Tucana Dwarf,0.948264,81.625488,84904.991248,1.295898,14.614785,12.270893,0.914828,0.917639,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.155407,train
671,993012,Tucana Dwarf,0.902668,87.874019,71730.095754,1.252474,12.575053,12.348018,0.982590,0.794793,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.155942,train
741,994009,Tucana Dwarf,0.952121,85.458325,80812.534460,1.195646,15.683565,12.210135,0.989668,0.904178,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.156428,train
1036,995006,Tucana Dwarf,1.088402,87.492786,80162.560696,1.126939,13.971509,11.465348,0.928586,0.945426,...,NaN,NaN,NaN,NaN,NaN,5.821994,NaN,0.486543,0.156904,train
1166,996004,Tucana Dwarf,1.043402,81.159627,83181.385788,1.184200,14.022761,10.825229,0.980363,0.775362,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.159677,train
1359,997002,Tucana Dwarf,1.025836,87.439019,100275.142288,1.105039,15.073819,12.921432,1.041252,0.907313,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.160758,train
1618,998001,Tucana Dwarf,1.019520,89.033353,91514.576466,1.165481,16.121923,11.855654,0.948309,0.924099,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.162026,train
1667,999000,Tucana Dwarf,0.962099,87.889748,89797.163881,1.124551,13.347643,11.661893,1.025234,0.946365,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.164336,train
1908,1000000,Tucana Dwarf,1.032511,85.655290,89563.665068,1.269773,15.486741,15.163011,1.036576,0.910356,...,0.936478,1.078717,53.566224,55.257847,38.600648,3.831401,NaN,0.285691,0.164890,train
2108,1001000,Tucana Dwarf,1.070591,86.921717,95097.690899,1.151601,16.206629,15.543447,1.118220,0.967129,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.174182,train
2173,1002001,Tucana Dwarf,0.998454,90.081614,92674.313679,1.280832,15.078078,14.178367,1.037743,0.885908,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.175040,train
2420,1003002,Tucana Dwarf,1.014993,88.225379,96762.557974,1.210326,17.828496,13.648115,1.085133,0.859680,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.175497,train
2582,1004004,Tucana Dwarf,1.047680,83.489555,107147.349421,1.131823,15.336775,15.076744,1.089376,0.921813,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.176438,train
2797,1005006,Tucana Dwarf,1.054524,88.842040,102234.222636,1.246770,16.675599,15.416398,1.014064,0.904529,...,1.068273,1.070953,69.106511,52.239315,45.728190,4.953126,-83.888792,0.495128,0.177138,train
3005,1006009,Tucana Dwarf,1.014279,92.398198,100080.274927,1.361883,16.663882,14.612106,1.103190,0.934671,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.186606,train
3084,1007012,Tucana Dwarf,1.026890,88.881432,94246.345004,1.226914,18.528798,16.664982,1.021697,1.024950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.187557,train
3229,1008016,Tucana Dwarf,1.172996,94.304644,99451.746015,1.166116,15.873899,15.825770,1.055901,1.006602,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.187805,train
3252,1009020,Tucana Dwarf,0.928273,91.984190,82214.397693,1.085039,18.773357,14.954667,0.953259,0.961512,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.188126,train
3331,1010025,Tucana Dwarf,1.080518,91.691704,96500.942674,1.190807,18.700674,15.808052,1.012845,0.898813,...,1.080944,1.083555,49.188303,45.027772,36.446457,4.818048,-137.286904,0.384459,0.189216,train
3463,1011030,Tucana Dwarf,1.085354,87.942140,87942.723249,1.177147,16.900896,15.567887,1.086430,1.045628,...,1.032133,1.069476,58.367198,71.362877,28.804885,4.172199,-207.979859,0.311659,0.306463,train
3539,1012036,Tucana Dwarf,1.041144,91.311695,77056.034015,1.150566,18.133630,14.821960,1.008258,0.924333,...,1.062968,1.087709,77.327200,56.966844,28.268385,5.520797,-735.186886,0.397355,0.351454,train
3644,1013042,Tucana Dwarf,1.134405,94.319135,75712.939767,1.069362,17.163590,15.553207,1.075880,0.980873,...,1.056494,1.018856,63.652246,52.519128,26.321019,5.560634,-403.107076,0.222128,0.345569,train
3734,1014049,Tucana Dwarf,1.124729,89.501884,75817.592959,1.146312,15.674941,13.832582,1.160829,1.056631,...,0.999325,1.064129,77.589938,63.472291,29.259365,6.333683,-109.916218,0.250079,0.339535,train

In [39]:
a=train.loc[train.galaxy=='Tucana III',:].drop('type', axis=1)

In [40]:
a.head(-1)

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
90,990025,Tucana III,0.845001,68.971487,19324.631916,0.928082,14.781559,6.822736,0.787343,0.613723,...,NaN,NaN,NaN,NaN,NaN,20.724671,5.711531,NaN,NaN,0.064073
349,991020,Tucana III,0.880614,78.821490,26032.545957,0.964438,12.428069,7.507049,0.732548,0.584196,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.063718
492,992016,Tucana III,0.853260,77.964977,32324.135962,0.867642,12.360623,7.843894,0.801821,0.535403,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.063456
689,993012,Tucana III,0.895416,77.827999,28272.990292,0.904636,12.269792,6.485558,0.678860,0.589957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.063269
758,994009,Tucana III,0.928282,74.907093,14410.266955,0.952837,14.191382,8.845180,0.824680,0.591660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.063094
1020,995006,Tucana III,0.933626,83.598108,27547.902185,0.830798,11.855202,9.475612,0.638580,0.659589,...,NaN,NaN,NaN,NaN,NaN,NaN,6.673493,NaN,0.823146,0.062969
1148,996004,Tucana III,0.906624,75.635754,33858.272733,0.826357,13.583178,8.948646,0.742529,0.724570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.062360
1357,997002,Tucana III,0.918028,74.055087,19608.048022,0.911926,12.539746,9.568852,0.779792,0.656767,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.062322
1459,998001,Tucana III,0.892665,82.439487,40627.317379,0.801587,12.904345,8.647004,0.851751,0.658142,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.062226
1742,999000,Tucana III,0.995356,76.848109,26164.639601,0.889351,13.091500,8.494982,0.874110,0.708162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.062179
1951,1000000,Tucana III,0.839054,81.246715,27396.275266,0.789842,13.564773,9.498146,0.824026,0.620911,...,0.609855,0.744635,0.863392,169.391079,111.395679,NaN,4.159954,NaN,0.819638,0.062140
2020,1001000,Tucana III,0.915373,80.394260,29395.518236,0.962106,13.227455,9.434993,0.851063,0.772363,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.061290
2325,1002001,Tucana III,0.950042,79.713121,34144.477940,0.875742,14.196887,9.168293,0.889633,0.685222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.061293
2462,1003002,Tucana III,0.900635,85.311150,29836.107361,0.939690,15.913876,7.798397,0.833856,0.697097,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.061217
2544,1004004,Tucana III,1.059975,82.359264,33922.557258,0.755645,15.053972,8.634851,0.849263,0.807759,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.061235
2874,1005006,Tucana III,1.081940,78.651868,23751.108605,0.885258,16.020341,11.494560,0.942932,0.698034,...,0.749874,0.860238,0.879092,167.040379,121.913862,38.446693,3.973340,NaN,0.794861,0.061179
2969,1006009,Tucana III,1.025517,81.990216,31789.628539,0.969752,15.135161,9.679590,0.974915,0.741695,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.060514
3105,1007012,Tucana III,1.056417,88.165413,24107.345644,0.781615,15.077847,12.582211,0.854580,0.696778,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.060451
3164,1008016,Tucana III,0.904115,84.954526,40096.088194,1.018781,17.365159,9.142928,0.911063,0.792187,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.060066
3319,1009020,Tucana III,0.910402,83.262150,28772.077437,0.899253,17.648316,9.459965,0.936009,0.744501,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.060223
3380,1010025,Tucana III,0.891711,82.489030,38057.119238,0.933217,17.422683,11.111312,0.920179,0.758672,...,0.760290,0.941030,0.938752,139.759546,99.191615,42.329100,5.980455,41.766071,0.707612,0.060340
3438,1011030,Tucana III,1.028160,85.532204,35150.066280,0.903741,14.901504,10.703554,0.950681,0.767200,...,0.799458,0.946471,0.922173,130.800941,87.346314,36.510677,4.447581,29.847848,0.845766,0.054088
3556,1012036,Tucana III,0.991063,86.810414,25382.536490,1.014290,15.674440,10.110859,0.928368,0.783755,...,0.780162,0.948059,0.955929,151.051816,122.744392,42.577141,5.747314,NaN,0.659240,0.054379

In [45]:
a.isna().sum().sum()

1111

In [46]:
s.isna().sum().sum()

1115